/* COMPORTEMENT DU FLIP */
.card-container {
  perspective: 1000px;
  width: 280px;
  height: 340px;
}
.card-front {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-back {
  transform: rotateY(180deg);
  background-image: url("../assets/fond-shiny.png");
  border: 1px solid var(--gray);
  color: var(--gray);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container.flipped .card-front {
  transform: rotateY(180deg);
}
.card-container.flipped .card-back {
  transform: rotateY(360deg);
}
/* ICON FLIP */
.iconBackFace {
  position: absolute;
  right: 0.2rem;
  padding: 0 0 0 1rem;
  top: 100px;
  color: var(--white);
  font-size: 2rem;
  transition-duration: 0.5s;
  opacity: 0.6;
}
.iconBackFace:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.iconBack {
  position: absolute;
  left: -0.2rem;
  padding: 0 1rem 0 0;
  top: 100px;
  color: var(--white);
  transition-duration: 0.5s;
  font-size: 2rem;
  opacity: 0.6;
}
.iconBack:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/*  */

/* CARD POKEMON */
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1.5s;
  backface-visibility: hidden;
  border-radius: 8px;
}
/* STATS POKEMON */
.stats {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -0.3rem;
}
.stats-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  border: 1px solid var(--white);
  border-radius: 16px;
  background-color: var(--white);
  font-family: var(--primary-font);
}
.title-stats {
  width: 50%;
  border-radius: 16px;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-stats p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--white);
}
.pItem {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pv {
  background-color: #038d00;
}
#attaque {
  background-color: #cc0000;
}
#defense {
  background-color: #002dcc;
}
/*  */

/* IMAGE */
.imgPokemon {
  height: 60%;
  width: 80%;
  margin-top: -0.5rem;
  cursor: pointer;
}
#imgPokemonBack {
  margin-top: -2.3rem;
  margin-bottom: 1.8rem;
}
/*  */

/* DESCRIPTIF POKEMON */
.description {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
#descriptionBack {
  padding-bottom: 1rem;
}
.description .name {
  text-align: center;
}
.description .types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.description p {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--dark);
  font-family: var(--secondary-font);
}

/* CARD EVOLUTION */
#evolutionClick {
  height: 40px;
  position: absolute;
  margin-top: -17rem;
  margin-right: -13.8rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 5;
}
#evolutionClick:hover {
  animation: shake 0.5s;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(1px);
  }
}
.description .types img {
  height: 24px;
  width: 24px;
  border-radius: 50px;
}

/*  */
