@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Concert+One&display=swap');

:root {
    --white: #f3f3f3;
    --gray: #d9d9d9;
    --dark: #2f2f2f;
    --green-background: #91c28d;
    --primary-font: 'Be Vietnam Pro', sans-serif;
    --secondary-font: 'Concert One', sans-serif;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: #2f2f2f;
}

.card-container {
    perspective: 1000px;
    width: 280px;
    height: 340px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    backface-visibility: hidden;
    border-radius: 8px;
}

.card-front {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    background-image: url('./assets/fond-shiny.png');
    border: 1px solid var(--gray);
    color: var(--gray);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container.flipped .card-front {
    transform: rotateY(180deg);
    transition-duration: 1.5s;
}

.card-container.flipped .card-back {
    transform: rotateY(0deg);
    transition-duration: 1.5s;
}

/* Card Pokemon */

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.imgPokemon {
    height: 60%;
    width: 80%;
    
}

.description {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.description .name {
    text-align: center;
}

.description .types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.description p {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--dark);
    font-family: var(--secondary-font);
}

.description .types img {
    height: 24px;
    width: 24px;
    border-radius: 50px;
}

.stats {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.stats-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    border: 1px solid var(--white);
    border-radius: 16px;
    background-color: var(--white);
    font-family: var(--primary-font);
}

.title-stats {
    width: 50%;
    border-radius: 16px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-stats p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--white);
}

.pItem {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgPokemonBack {
    margin-top: -2.3rem;
    margin-bottom: 1.8rem;
}

#pv {
    background-color: #038d00;
}

#attaque {
    background-color: #cc0000;
}

#defense {
    background-color: #002dcc;
}
